body {
    background-color: ghostwhite;
}

.header {
    border: black 1px solid;
    height: 80px;
}

.header > .profilepic {
    float: right;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.header-userName {
}
